body{
			margin: 0;
		}
		.judul
		{
			font-family: Berlin sans fb;
			font-size:  30px;
			color: black;
			line-height: 0px;
		}
		.linkJudul
		{
			text-decoration: none;
			color: black;
		}
		.subjudul
		{
			font-size: 15px;
			font-family: Arial;
			line-height: 0px;
		}
		.footer
		{
			background-color: #470489;
			height: 100px;
  			left: 0;
  			bottom: 0;
  			width: 99.6%;
  			color: white;
  			padding-left: 10px;
  			padding-bottom: 40px;
  			margin-top: 50px;
  			position: static;
  		}

		.footer .judul
		{
			font-family: Berlin sans fb;
			font-size:  30px;
			padding-top: 30px;
			margin-bottom: 0px;
			color: white;
			height: 15px;
			width: 100%;

		}
		.footer .subjudul
		{
			font-size: 15px;
			font-family: Arial;
			width: 80%;
			color: white;
			display: inline-block;
		}

		.footer .isi
		{
			display: inline-block;
			font-size: 20px;
		}

		.footer .isi2
		{
			display: inline-block;
			font-size: 20px;
			padding-left: 50px;
			

		}
		.footer .isilink
		{
			color: white;
			text-decoration: none;
		}
		.Contact
		{
			text-align: center;
			font-size: 50px;
			font-family: berlin sans FB;
			color: white;
			padding-top: 30px;
			padding-bottom: 0px;
		}
		.kotak
		{
			background-color: #ffffff;
			border-radius: 30.5px;
			border: 1px solid #707070;
			width: 1000px;
			height: 660px;
			margin-left: 15%;
			margin-top: 250px;
			position: absolute;
			
		}
		.basi
		{
			width: 100%;
			height: 400px;
			margin-top: 0px;
			margin-left: : 0px;
			background-color:#470489; 
			position: absolute;
		}
		.basi .gambar
		{
			height: 400px;
			width: 100%;
			overflow: hidden;

		}
		.tulisan
		{
			text-align: center;
			font-size: 15px;
			padding-top: 10px;
			color: white;
			font-family: segoe ui;
		}
		.KetRegis
		{
			font-family: berlin sans FB;
			font-size: 30px;
			padding-top: 5px;
			padding-left: 0px;
			margin-left: 30px;
		}
		.Inputanmama
		{
			margin-left: 30px;
			padding-left: 15px;
			padding-top: 5px;
			width: 300px;
			height: 25px;
			border-radius: 10px;
			display: inline-block;
		}
		.iInputanRusuh
		{
			width: 300px;
			height: 25px;
			border-radius: 10px;
			padding-top: 10px;
			padding-left: 10px;
			margin-left: 10px; 	
		}
		.inputanbiasa
		{
			width: 300px;
			height: 25px;
			border-radius: 10px;
			padding-top: 10px;
			padding-left: 10px;
			margin-left: 30px; 
		}
		.inputanbiasa2
		{
			width: 500px;
			height: 100px;
			border-radius: 10px;
			padding-top: 10px;
			padding-left: 10px;
			margin-left: 30px; 
		}
		.Confirm
		{
			margin-top: 940px;
			margin-left: 640px;
			color: white;
			width: 200px;
			height: 50px; 
			font-family: Arial;
			font-weight: bold;  
			border-radius: 10px;
			cursor: pointer;
			background : linear-gradient(#AA5EDC,#840CC9);

		}
		.link-judul2 
		{
			text-decoration: none;
			color: white;
		}

		.profile
		{
			display: inline-block;
			width: 80px;
			height: 80px;
		}
		.profil
		{
			display: flex;
		}
		.gambarprofil
		{
			width: 40px;
			height: 40px;
			margin-top: 20px;
		}
		.profil .tulisan
		{
			font-size: 15px;
			line-height: 0px;
			border:none;
			color: black;
		}
		.ukuran
		{
			width: 90%;
		}
