body{
	margin: 0;
}
.bg
		{
			background-color: #470489;
		}
.judul
		{
			margin-top: 85px;
			line-height: 5px;
			text-align: center;
			font-family: berlin sans fb;
			color: white;
			font-size: 50px;
			text-decoration: none;
		}
.subjudul
		{
			font-size:15px;
			text-align: center;
			font-family: Arial;
			color: white;
			line-height: 0px;
			text-decoration: none;
		}
.email2 
		{
			text-align: center;
		}
.email3 
		{
			text-align: center;
			color: white;
			font-family: arial;
		}
.email
		{
			border-radius: 5px;
			width: 250px;
			height: 25px;
			text-align: left;
		}
.password
		{
			border-radius: 5px;
			width: 250px;
			height: 25px;
		}
.Remember
		{
			font-size: 15px; 
			margin-top: 0px;
			text-align: center; 
			color: white;
		}
.Login
		{
			cursor: pointer; 
			border:none; 
			padding: 5px 20px 5px 20px; 
			font-family: Arial; 
			font-size: 17px;
			color: white; 
			border-radius: 10px;
			background: linear-gradient(#AA5EDC,#840CC9); 
		}
.Loginlink
		{
			color: white;
			text-decoration: none;
		}
.account
		{
			font-size: 15px; 
			text-align: center;
			font-family: arial; 
			color: white
		}
.footer
		{
			margin-top: 18%;
			text-align: right;
			font-family: berlin sans fb;
			color: white;
			font-size: 18px;
		}
.linkfooter
		{
			color: white;
			text-decoration: none;
		}
.linkfooter2
		{
			color: white;
			text-decoration: none;
		}