body{
	margin: 0;
}
.judul
		{
			font-family: Berlin sans fb;
			font-size:  30px;
			color: black;
			line-height: 0px;
			height: 15px;
			width: 100%;
			padding-left: 20px;
		}
.linkjudul
		{
			text-decoration: none;
			color: black;
		}
.linkjudul2
		{
			text-decoration: none;
			color: white;
		}
.subjudul
		{
			font-size: 15px;
			font-family: Arial;
			width: 100%;
			line-height: 0px;
			display: inline-block;
			padding-left: 20px;
		}
.profile
		{
			display: inline-block;
			width: 80px;
			height: 80px;
		}
.profil
		{
			display: flex;
		}
.gambarprofil
		{
			width: 40px;
			height: 40px;
			margin-top: 20px;
			margin-left: 1070px;
		}
.profil .tulisan
		{
			font-size: 15px;
			padding-left:1070px;
			line-height: 0px;
			border:none;
		}
.navbar
		{
			width: 100%;
			
		}
.navbar .home 
		{
			padding-right: 50px;
			margin: 0px;
			float: right;
			text-decoration: none;
		}
.navbar .to-dos 
		{
			padding-right: 50px;
			margin: 0px;
			float: right;
			text-decoration: none;
		}
.navbar .courses 
		{
			padding-right: 50px;
			margin: 0px;
			float: right;
			text-decoration: none;
		}
.navbar .messages 
		{
			padding-right: 50px;
			margin: 0px;
			float: right;
			text-decoration: none;
		}
.navbar .home:hover
{
	border-radius: 20px;
	margin-right: 30px;
	padding-left: 20px;
	background-color: #C48CFA;
	width: 30px;
	height: 20px;
	border:1px solid #C48CFA;
	color: black;
}
.navbar .to-dos:hover
{
	border-radius: 20px;
	padding-left: 20px;
	margin-right: 30px;
	background-color: #C48CFA;
	width: 30px;
	height: 20px;
	border:1px solid #C48CFA;
	color: black;
}
.navbar .courses:hover
{
	border-radius: 20px;
	margin-right: 30px;
	padding-left: 20px;
	background-color: #C48CFA;
	width: 50px;
	height: 20px;
	border:1px solid #C48CFA;
	color: black;
}
.navbar .messages:hover
{
	border-radius: 20px;
	padding-left: 20px;
	margin-right: 30px;
	background-color: #C48CFA;
	width: 30px;
	height: 20px;
	border:1px solid #C48CFA;
	color: black;
}
.footer
{
	background-color: #470489;
	height: 100px;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	color: white;
  	padding-left: 10px;
  	padding-bottom: 40px;
}

.footer .judul
{
	font-family: Berlin sans fb;
	font-size:  30px;
	padding-top: 30px;
	margin-bottom: 0px;
	color: white;
	height: 15px;
	width: 100%;
}
.footer .subjudul
{
	font-size: 15px;
	font-family: Arial;
	width: 80%;
	color: white;
	display: inline-block;
}

.footer .isi
{
	display: inline-block;
	font-size: 20px;
}

.footer .isi2
{
	display: inline-block;
	font-size: 20px;
	padding-left: 50px;
}
.footer .isilink
{
	color: white;
	text-decoration: none;
}
.kotak .tulisan
{
	font-size: 15px;
	font-family: berlin sans fb;
}
ul {
  list-style-type: none;
  margin-top: 100px;
  margin-left: 180px;
  text-align: right;
  padding: 0;
  width: 200px;
  background-color: #470489;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #C48CFA;
  color: white;
}

li a:hover:not(.active) {
  background-color: #C48CFA;
  color: white;
}
.flex
{
	display: flex;
}
.flex .kotak
{
	width: 65%;
	height: 369px;
	border-style: solid;
	border-color: #470489;
	border-width: 2px;
	margin-top: 100px;
}
.flex .kotak2
{
	width: 98%;
	height: 70px;
	border-style: solid;
	border-color: #470489;
	border-width: 2px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 1px;
	display: flex;
}
.flex .kotak3
{
	width: 98%;
	height: 70px;
	border-style: solid;
	border-color: #470489;
	border-width: 2px;
	margin-left: 10px;
	margin-top: 6px;
	display: flex;
}
.flex .kotak4
{
	width: 98%;
	height: 70px;
	border-style: solid;
	border-color: #470489;
	border-width: 2px;
	margin-left: 10px;
	margin-top: 6px;
	display: flex;
}
.flex .Video
{
	width: 50px;
	margin-top: 10px;
	margin-left: 10px;
	height: 50px;
}
.kotak2 .tulisan
{
	font-size: 20px;
	font-family: Rockwell;
	padding-left: 20px;
	padding-top: 4px;
}.kotak3 .tulisan
{
	font-size: 20px;
	font-family: Rockwell;
	padding-left: 20px;
	padding-top: 4px;
}
.kotak2 .tulisan
{
	font-size: 20px;
	font-family: Rockwell;
	padding-left: 20px;
	padding-top: 4px;
}
.kotak3 .tulisan
{
	font-size: 20px;
	font-family: Rockwell;
	padding-left: 20px;
	padding-top: 4px;
}
.kotak4 .tulisan
{
	font-size: 20px;
	font-family: Rockwell;
	padding-left: 20px;
	padding-top: 4px;
}